
.caption {
    display: inline-block;
}
#logo {
    width: 250px;
    height: 250px;
}

#itemThumbs {
    width: 150px;
    height: 150px;
}

/* Sticky Footer Classes */
html, body {
    height: 100%;
}


#sticky-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999;
}

/* Other Classes for Page Styling */

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}
